/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */

/* Redefine base colors */
.root {
    -fx-base: rgba(60, 63, 65, 255);
    -fx-background: rgba(60, 63, 65, 255);
    -fx-background-color: rgba(60, 63, 65, 255);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}


/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
.scroll-bar{
 -fx-background-color: rgb(96,96,96);
 /*-fx-background-radius: 2em;*/
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-background-color: rgb(96,96,96);
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(96,96,96);
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(96,96,96);
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(96,96,96);
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}